<h3>Municipios sin zona</h3>
<br/><br/>
<div class="input-control select">
	<label>Municipios sin Zona</label>
	<select id="municipio1">
		<!-- START sin_zona -->
		<option value="{id}">{nombre}</option>
		<!-- END sin_zona -->
	</select>
</div>

<div class="input-control select">
	<label>Zonas</label>
	<select id="zona1">
		<!-- START zona1 -->
		<option value="{codru}">{nombre}</option>
		<!-- END zona1 -->
	</select>
</div>
<button class="button success" id="btn1"> Asignar a Zona </button>

<br/><br/><br/>

<h3>Actualizar zonas</h3>
<br/><br/>
<div class="input-control select">
	<label>Municipios asignados</label>
	<select id="municipio2">
		<!-- START con_zona -->
		<option value="{id}">{nombre} - ({zona})</option>
		<!-- END con_zona -->
	</select>
</div>

<div class="input-control select">
	<label>Zonas</label>
	<select id="zona2">
		<!-- START zona2 -->
		<option value="{codru}">{nombre}</option>
		<!-- END zona2 -->
	</select>
</div>
<button class="button success" id="btn2"> Asignar a Zona </button>
<br/><br/>
<script type="text/javascript">
	
	$(document).ready(function(){
		$('#btn1').bind('click', function(){
			var v_municipio = $('#municipio1').val();
			var v_zona 		= $('#zona1').val();
			
			var data = {
				municipio : v_municipio,
				zona 	  : v_zona
			}; 
			
			var uri = "/administracion/modulo/actualizar_zona";
			
			$.post(uri, data, function(response){
				location.href = location.href;
			});
		});
		
		$('#btn2').bind('click', function(){
			var v_municipio = $('#municipio2').val();
			var v_zona 		= $('#zona2').val();
			
			var data = {
				municipio : v_municipio,
				zona 	  : v_zona
			}; 
			
			var uri = "/administracion/modulo/actualizar_zona";
			
			$.post(uri, data, function(response){
				location.href = location.href;
			});
		});
	});
</script>