<h3>Zonas sin agente</h3>
<br/><br/>
<div class="input-control select">
	<label>Zonas sin agentes</label>
	<select id="zona1">
		<!-- START sin_agente -->
		<option value="{codru}">{nombre}</option>
		<!-- END sin_agente -->
	</select>
</div>

<div class="input-control select">
	<label>Agentes</label>
	<select id="agente1">
		<!-- START agente1 -->
		<option value="{cage}">{nombre}</option>
		<!-- END agente1 -->
	</select>
</div>
<button class="button success" id="btn1"> Asignar a Agente </button>

<br/><br/><br/>

<h3>Actualizar agentes</h3>
<br/><br/>
<div class="input-control select">
	<label>Zonas con agentes</label>
	<select id="zona2">
		<!-- START con_agente -->
		<option value="{codru}">{nombre} - ({agente})</option>
		<!-- END con_agente -->
	</select>
</div>

<div class="input-control select">
	<label>Agentes</label>
	<select id="agente2">
		<!-- START agente2 -->
		<option value="{cage}">{nombre}</option>
		<!-- END agente2 -->
	</select>
</div>
<button class="button success" id="btn2"> Asignar a Agente </button>
<br/><br/>
<script type="text/javascript">
	
	$(document).ready(function(){
		$('#btn1').bind('click', function(){
			var v_zona = $('#zona1').val();
			var v_agente = $('#agente1').val();
			
			var data = {
				zona : v_zona,
				agente: v_agente
			}; 
			
			var uri = "/administracion/modulo/actualizar_agente";
			
			$.post(uri, data, function(response){
				location.href = location.href;
			});
		});
		
		$('#btn2').bind('click', function(){
			var v_zona = $('#zona2').val();
			var v_agente = $('#agente2').val();
			
			var data = {
				zona : v_zona,
				agente: v_agente
			}; 
			
			var uri = "/administracion/modulo/actualizar_agente";
			
			$.post(uri, data, function(response){
				location.href = location.href;
			});
		});
	});
</script>