<h2>Agentes</h2>
<br/>
<div class="grid">
    <div class="row cells6">
        <div class="cell">
			<div class="input-control text full-size">
				<label>Código agente</label>
				<input type="text" id="codigo"/>
			</div>
		</div>
        <div class="cell colspan2">
			<div class="input-control text full-size">
				<label>Nombre agente</label>
				<input type="text" id="nombre"/>
			</div>		
		</div>
        <div class="cell">
			<div class="input-control text full-size">
				<label>Comisión (%<span id="pcomision"></span>)</label>
				<input type="range" id="comision" name="points" step="1" min="0" max="100">
			</div>		
		</div>
		<div class="cell">
			<button id="guardarAgente" class="button">Guardar</button>
		</div>
    </div>
</div>
<div id="bigbox" style="margin:15px;display:!none;">
	<div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		
		$('#comision').bind('change', function(){
			$('#pcomision').html($('#comision').val());
		});
		
		$('#codigo').bind('keyup', function(){
			if(isNaN($('#codigo').val())){
				$('#codigo').val("");
			}
		});
		
		$('#guardarAgente').bind('click', function(){
			var codigo = $('#codigo').val().trim();
			var nombre = $('#nombre').val().trim();
			var comision = $('#comision').val();
			
			if(codigo != "" && nombre != ""){
				
                var uri = "/administracion/modulo/guardar_agente";
                
                var data = {
                    i_codigo : codigo,
                    i_nombre : nombre,
                    i_comision: comision
                };
                
                $.post(uri, data, function(response){
                    
                    if(response.exists){
                        $.Notify({
                            caption: 'Error',
                            content: 'El agente ya existe',
                            type: 'warning'
                        });
                    }
                    
                    var grid = Sigma.$grid("agente_grid");
                    grid.reload();
                    
                }, "json");
                
			}else{
				$.Notify({
                    caption: 'Error',
                    content: 'Debe completar todos los campos',
                    type: 'warning'
                });
                
                $('#codigo').focus();
			}
		});
		
		$('#comision').change();
	});
	
	var grid_demo_id = "agente_grid";

    var dsOption = {
        fields: [
            {name: 'id'},
            {name: 'cage'},
            {name: 'nombre'},
            {name: 'pcom'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'cage', header: "Código", width: 100},
        {id: 'nombre', header: "Nombre", width: 300},
        {id: 'pcom', header: "% Comisión", width: 175}
    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/facturacion/inventario/cargar?tblname=agente',
        saveURL: '/facturacion/inventario/actualizar?tblname=agente',
        width: "580", //"100%", // 700,
        height: "400", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 40,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | del save | filter | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render();
    });
</script>