<table class="table">
	<thead>
		<tr>
			<th>Usuario</th>
			<th>Cliente</th>
			<th>Nombre</th>
			<th></th>
		</tr>
	</thead>
<!-- START lista -->
	<tr>
		<td>
			{usuario}
		</td>
		<td>
			{codigo_afiliado}
		</td>
		<td>
			{primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}
		</td>
		<td><a href="#" onclick="eliminarUsuario({id});">Eliminar</a></td>
	</tr>
<!-- END lista -->
</table>