
<section ng-app="permisosApp" ng-controller="permisosController">
	<h3>Permisos de acceso a las aplicaciones</h3>
	<hr/>
	<script type="text/javascript" src="../static/js/modules/modulo/permisos.js"></script>
	<p><br/></p>
	<div class="grid">
		<div class="row cells4">
			<div class="cell">
				<div class="input-control select">
					<label>Seleccione un módulo</label>
					<select id="modulo">
						<option value="inventario">Inventario</option>
						<option value="compras">Compras</option>
						<option value="facturacion">Facturación</option>
						<option value="cobros">Cobros</option>
					</select>
				</div>
				<br/><br/>
				<div class="input-control select">
					<label>Seleccione un usuario</label>
					<select id="usuario" ng-model="usuarios" ng-change="cargarPermisos()">
					</select>
				</div>			
			</div>
			<div class="cell">
				<h4>Permisos disponibles</h4>
				<p>Clic para conceder el permiso</p>
				<div class="listview">
				    <div class="list" ng-repeat="permiso in permisosDisponibles">
				        <button class="mif-checkmark mini-button button cycle-button fg-green" ng-click="concederAcceso(permiso.vista,permiso.recurso,permiso.titulo)"></button>
				        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				        <span class="list-title"
				        	data-role="hint"
				        	data-hint-position="right"
	    					data-hint-background="bg-green"
	    					data-hint-color="fg-white"
	    					data-hint-mode="2"
	    					data-hint="Más|{{permiso.titulo}}"
				        >{{permiso.titulo_c}}</span>

				    </div>
				</div>
			</div>
			<div class="cell">
				<h4>Permisos asignados</h4>
				<p>Clic para denegar el permiso</p>
				<div class="listview">
				    <div class="list" ng-repeat="permiso in permisosAsignados">
				        <span class="mif-cross mini-button button cycle-button fg-red" ng-click="denegarAcceso(permiso.vista,permiso.recurso,permiso.titulo)"></span>
				        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				        <span class="list-title"
				        	data-role="hint"
				        	data-hint-position="right"
	    					data-hint-background="bg-green"
	    					data-hint-color="fg-white"
	    					data-hint-mode="2"
	    					data-hint="Más|{{permiso.titulo}}"
				        >{{permiso.titulo_c}}</span>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>