<style type="text/css">
    body{
        background: url(../static/img/banner.jpg) no-repeat;
        background-position: bottom right;
    }
</style>
<div class="grid">
    <div class="row cells3">
        <div class="cell">
        	<div class="panel span10" data-role="panel">
				<div class="heading">
					<span class="title">Administración del sistema </span>
				</div>
				<div class="content">
					<p>
			            
					</p>
				</div>
			</div>
        </div>
        <div class="cell">
        	<div class="panel span10" data-role="panel">
				<div class="heading bg-lightBlue fg-white">
					<span class="title">Información</span>
				</div>
				<div class="content">
					<p>
						Funciones disponibles:
						<ul>
							
						</ul>
					</p>
				</div>
			</div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $("#panel").panel();
    });
</script>