<h3>Gestión de cuentas de usuario</h3>
<hr/>
<p><br/></p>
<div class="input-control select">
	<label>Seleccione un módulo</label>
	<select id="modulo" onchange="seleccionarModulo();">
		<option value="administracion">Administración</option>
		<option value="inventario">Inventario</option>
		<option value="compras">Compras</option>
		<option value="facturacion">Facturación</option>
		<option value="cobros">Cobros</option>
		<option value="clientes">Clientes</option>
	</select>
</div>
<div class="grid">
	<div class="row cells5">
		<div class="cell colspan2">
			<h4>Usuarios</h4>
			<div id="usuariosRegistrados"></div>
		</div>
		<div class="cell colspan2">
			<h4>Nuevo usuario para el módulo de <span id="mdls"></span></h4>
			<p><br/></p>
			<div id="codigo_afiliado_div" class="input-control text">
				<label>Código de afiliado</label>
				<input type="text" id="codigo_afiliado" onchange="cargarNombreCliente(); validarCodigo();" />
			</div>
			<br/>
			<br/>
			<div class="input-control text full-size">
				<label>Nombre</label>
				<input type="text" id="nombre_cliente" readonly="" />
			</div>
			<br/>
			<br/>
			<div id="nombre_usuario_div" class="input-control text">
				<label>Nombre de usuario</label>
				<input id="nombre_usuario" type="text" onkeyup="validarUsuario();" />
			</div>
			<br/>
			<br/>
			<button class="button primary" onclick="crearUsuario();">Crear usuario</button>
			<br/>
			<br/>
			<span class="fg-red">Nota: La clave de inicio de sesión por defecto es el nombre de usuario</span>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		window._codigoCorrecto = false;
		window._usuarioCorrecto = false;
		$('#modulo').change();

		var urlHandler = new url_handler();
		urlHandler.initialize();

		if(urlHandler.isKey('success')){
			$.Notify({
                caption: 'Éxito',
                content: 'El nuevo usuario ha sido creado correctamente',
                type: 'success'
            });
		}

		if(urlHandler.isKey('delete')){
			$.Notify({
                caption: 'Éxito',
                content: 'El usuario ha sido eliminado correctamente',
                type: 'success'
            });
		}

		if(urlHandler.isKey('modulo')){
			$('#modulo option[value='+urlHandler.getValue('modulo')+']').attr('selected','selected');
			$('#modulo').change();
		}
	});

	function eliminarUsuario(id){
		event.preventDefault();
		var uri = '/administracion/modulo/eliminarUsuario';
		var data = {
			id_reg: id
		};

		$.post(uri, data, function(d){
			location.href = '/administracion/modulo/gestionDeUsuarios?delete=true&modulo='+$('#modulo').val();
		},"json");
	}

	function cargarNombreCliente(){
		var uri = '/administracion/cliente/obtenerNombre';
		var data = {
			cliente: $('#codigo_afiliado').val()
		};

		$.post(uri, data, function(d){
			$('#nombre_cliente').val(d.nombre);
		},"json");
	}

	function seleccionarModulo(){
		
		var uri  = '/administracion/modulo/obtenerUsuarios';
		var data = {modulo: $('#modulo').val() };
		$('#mdls').html($('#modulo').val());

		$.post(uri, data, function(d){

			$('#usuariosRegistrados').html(d.content);

		},"json");

	}

	function validarCodigo(){
		var uri  = '/administracion/modulo/validarCodigo';
		
		var data = { 
			modulo: $('#modulo').val(),
			cliente: $('#codigo_afiliado').val() 
		};

		$.post(uri, data, function(d){
			if(d.existe){
				window._codigoCorrecto = false;
				$('#codigo_afiliado_div').addClass('error');
				$('#codigo_afiliado').val("");
				$('#nombre_cliente').val("");
				$('#codigo_afiliado').focus();
				$.Notify({
                    caption: 'Error',
                    content: 'Una misma persona no puede tener dos usuarios en el mismo módulo',
                    type: 'alert'
                });
			}else{
				window._codigoCorrecto = true;
				$('#codigo_afiliado_div').removeClass('error');
			}

		},"json");
	}

	function crearUsuario(){
		if(window._usuarioCorrecto && window._codigoCorrecto){
			var uri  = '/administracion/modulo/agregarUsuario';
		
			var data = { 
				modulo: $('#modulo').val(),
				usuario: $('#nombre_usuario').val(),
				cliente: $('#codigo_afiliado').val(), 
			};

			$.post(uri, data, function(d){

				location.href = '/administracion/modulo/gestionDeUsuarios?success=true&modulo='+$('#modulo').val();

			},"json");

		}else{
			$.Notify({
                caption: 'Error',
                content: 'Rellene correctamente todos los campos',
                type: 'alert'
            });
		}
	}

	function validarUsuario(){
		var usuario = $('#nombre_usuario').val();
		if(!isNaN(usuario)){
			$('#nombre_usuario_div').addClass('error');
			$('#nombre_usuario').val("");
		}else{
			if(usuario.length < 4){
				$('#nombre_usuario_div').addClass('error');
			}else{
				var uri  = '/administracion/modulo/validarUsuario';
		
				var data = { 
					modulo: $('#modulo').val(),
					usuario: $('#nombre_usuario').val() 
				};

				$.post(uri, data, function(d){
					if(d.existe){
						window._usuarioCorrecto = false;
						$('#nombre_usuario_div').addClass('error');
						$('#nombre_usuario').val("");
						$('#nombre_usuario').focus();
						$.Notify({
		                    caption: 'Error',
		                    content: 'El usuario ya existe',
		                    type: 'alert'
		                });
					}else{
						window._usuarioCorrecto = true;
						$('#nombre_usuario_div').removeClass('error');
					}

				},"json");
			}
		}
	}

</script>